body {
    background-color: #2c3e50;
    color: rgb(255, 255, 255);
    margin-left: 20px;
  }
  
  h1,h2,p {
    
  }

  a {
    border: none;
    background: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  menu{
      margin: 0;
      margin-left: 0;
      padding: 0;
  }

  